.bk-root .bk-widget{
    margin-top: 3px;
}
.bk-markup{
    font-weight: bold;
}
#modelid_widgets_section{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#modelid_plots_section{
    margin-left: 300px;
}
#modelid_scenarios_heading,
#modelid_techs_heading,
#modelid_set_axis_ranges_heading,
#modelid_set_map_max_heading,
.legend-header{
    color: blue;
    cursor: pointer;
}
#modelid_filters_heading,
#modelid_show_heading,
#modelid_scale_axes{
    margin-top: 20px;
}
.bk-plot-layout{
    display: inline-block;
}
.bk-logo{
    display: none !important;
}

.bk-root .bk-widget label{
    display: block;
    margin: 0;
}

#modelid_scenarios,
#modelid_techs,
#modelid_set_x_min,
#modelid_set_x_max,
#modelid_set_y_min,
#modelid_set_y_max,
#modelid_set_map_max{
    display:none;
}
.legend-body{
    display: none;
    border: 1px solid lightgrey;
    padding: 10px;
}
.legend-color{
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-right: 10px
}

#modelid_scale_axes{
    text-align: center;
}

.bk-grid-column{
    height: auto !important;
}

